# Genie-TTS

# 通用
onnx
onnxruntime
numpy
soundfile
soxr
pyyaml
pyaudio
pydantic
huggingface_hub[hf_xet]
fastapi
uvicorn[standard]

# 日文 G2P
pyopenjtalk

# 英文 G2P
nltk

# 中文 G2P
pypinyin
g2pM
jieba_fast